@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  /* padding: 120px 24px 160px 24px; */
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #e9e7e7 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: 100%;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(114, 151, 254) 0px, transparent 50%),
    radial-gradient(at 52% 99%, rgb(219, 81, 95) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgb(104, 67, 206) 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(177, 166, 147) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(112, 149, 233) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 0px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-full mx-0 mt-0 sm:px-16 px-6;
}

/* Navbar */
.navbar {
  @apply flex justify-between mx-auto items-center fixed top-0 left-0 w-full p-4 bg-white;
}

.logo {
  @apply flex-shrink-0 ml-10 font-extrabold text-2xl p-0;
}
.logo span {
  @apply text-[#5662C6];
}

.links {
  @apply flex text-center justify-center gap-6 p-2;
}
.media {
  @apply flex flex-shrink-0 p-1 mr-10 space-x-3;
}

/* Hero section */
.hero {
  @apply flex w-full gap-24 content-between items-center justify-center h-screen text-center;
}

.hero_left {
  @apply flex flex-col w-fit h-fit justify-center;
}

.profile {
  @apply block;
}

.name {
  @apply flex-shrink-0 font-extrabold text-2xl p-0 my-4;
}

.name span {
  @apply text-[#5662C6];
}

.hero_right {
  @apply text-center items-center max-w-md max-h-80;
}

.greeting {
  @apply flex flex-row justify-center items-center;
}

.hero_info {
  @apply font-satoshi font-semibold text-3xl m-2 whitespace-pre-line;
}

.indigo_gradient {
  @apply bg-gradient-to-r from-blue-500 via-indigo-600 to-pink-500 bg-clip-text text-transparent;
}

/* About section */
.about {
  @apply flex gap-12 content-between h-screen text-center;
}

.about_left {
  @apply block;
}

.about_right {
  @apply text-center max-w-md max-h-80;
}

/* Projects section */
.project {
  @apply flex flex-col max-w-md rounded-lg bg-indigo-50 justify-center content-center text-center text-black shadow-md  hover:shadow-none;
}

.project img {
  @apply w-full h-80;
}

.section_title {
  @apply text-3xl my-7 font-satoshi font-bold;
}

.project_title {
  @apply text-xl my-2 font-bold;
}

.section_info {
  @apply font-satoshi font-medium text-xl m-2 whitespace-pre-line;
}

/* Contact section */
.contact {
  @apply flex flex-row items-center justify-between gap-28 py-10 font-satoshi;
}

.contact_img {
  @apply w-full h-full;
}

.form {
  @apply flex flex-col gap-8 content-between;
}

.label_style {
  @apply block mb-2 font-semibold;
}

.input_style {
  @apply w-full border border-gray-300 rounded px-4 py-2 mb-2;
}

.text_area {
  @apply w-full border border-gray-300 rounded px-4 py-2 mb-4;
}

.btn {
  @apply bg-indigo-900 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded;
}

/* .main {
  @apply items-center text-center;
} */
